@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS HEX */
/* --giants-orange: #ff591cff;
--red: #fe1e1eff;
--cyclamen: #ea689cff;
--mimi-pink: #eccbd9ff;
--alice-blue: #e1eff6ff;
--light-sky-blue: #97d2fbff;
--jordy-blue: #83bcffff;
--ruddy-blue: #70a8d9ff;
--aquamarine: #9efcd3ff;
--celadon: #9decbaff; 
--darkmodebg: #282828 
buttonbg:#3a4550;*/


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100vw;
  color: #3a4550;;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  top:0;
  z-index: 10;
  background-color: whitesmoke;
}

header ul{
  width: 40%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header ul li{
  list-style: none;
  cursor: pointer;
}

li a{
  color: #3a4550;
  transition: all 0.3s;
  padding:2px 10px;
  border-radius: 10px;
}

li a:hover{
  color:black;
}

li .login{
  font-size: 16px;
  font-weight: 500;
}

header h2{
  margin-left: 1rem;
  color: #3a4550;
}

section{
  height: 100vh;
  width: 90%;
  margin: 0 auto;
}

.home{
  display: flex;
  margin-top: 6rem;
  gap:10rem;
  position: relative;
}

.home .left h1{
  margin-bottom: 1rem;
  color: #3a4550;
}

button{
  background-color: #9efcd3ff;
  color: #3a4550;
  padding: 12px 24px;
  border: solid 2px #70a8d9ff;
  border-radius: 8px;
  font-size: 16px;
  transition: all 0.3s ease;
}
button:hover{
  background-color: #307bbd;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.home a:hover{
  color: white;
  background-color: #2c4860;
  
}

.home .left h5{
  margin:2rem 0;
}

.bg {
  left: 0;
  bottom: 0;
  width: 100vw;
  z-index: -1;
}
.bg svg {
  width: 100vw;
  height: auto;
  display: block;
}

.bg svg{
  position: absolute;
  bottom: 0;
  pointer-events: none;
  
}

.card-container{
  width: 80%;
  margin: auto;
  display: grid;
  gap:2.5rem;
  grid-template-columns: repeat(auto-fit,13rem);
  cursor:pointer
  
}

.card{
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 5px;
}

.card-body{
  background-color: #d4f6e8;
  padding: 1rem;
}

.card-body .title{
  margin-bottom:5px;
  font-size: 15px;
  font-weight:500;
}

.card-body .icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-body .timer{
  display: flex;
  align-items: center;
  gap:2px;
  font-size: 13px;
  font-weight: 500;
}

.action{
  display: flex;
  font-size: 19px;
  justify-content: space-between;
  align-items: center;
  width: 45px;
}

.editIcon{
  color: black;
  font-size: 18px;
}

.action a:hover{
  color: black;
}

.deleteIcon{
  color: rgb(239,53,53);
  font-size: 20px;
  cursor: pointer;
}

.modal{
  position: fixed;
  top: 34%;
  z-index: 10;
  padding: 2rem;
  border-radius: 6px;
  border:none;
  left:30%;
  width: 40%;
}

.backdrop{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9;
}



.form{
  border: #602c2c double 2px;
  position: relative;
  width: 30%;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 8px;
  background-color:  rgba(151, 209, 251, 0.112);
}

.form label{
  padding: 4px;
  font-weight: 500;
  font-size: 16px;
  color: #3a4550;
  margin: 0px 330px 0px 0px;
  
}
.form-control{ 
 display:flex;
 width: 90%;
 margin: 0.1rem auto;
 padding: 0.2rem;
 flex-direction: column;
 gap:0.5rem;
 text-align:left;

}

.form-control .input{
  position: relative;
  border-radius: 4px; 
  height: 30px;
  padding: 4px;
  

}
.form-control .input-btn{
  margin:5px auto;
  display: block;
  font-size: 15px;
  flex-direction: column;
  width: 50%;
  min-width: unset;
  box-sizing: border-box; 
}

.form-control .input-textarea{
  border: 1px solid rgb(156 163 175);
  border-radius: 4px;
  flex-basis: 70%;
  padding: 12px;
  
}


.form button{
  margin:5px auto;
  display: block;
  background-color: #d4f6e8;
  font-size: 15px;
  flex-direction: column;
  width: 50%;
  min-width: unset;
  box-sizing: border-box; 
}


.form p{
  cursor: pointer;
  display: inline;
  border-bottom: 1px solid #307bbd;
  color:rga(4,136,170);
  font-size: 14px;
  color: #307bbd;
}

.form .error{
  color:red;
  font-size: 13px;
}

 .logform{
width: 100%;
padding: 0.3rem;
}
.logform-control{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0.5rem auto;
  font-size: large;
}
.logform label{
  font-size: larger;
  padding: 0.3rem;
}
.logform input{
  width: 100%;
  padding: 0.3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}
.logform button{
  width: 50%;
  margin: 15px auto;
  display: block;
  padding: 0.3rem ;
  background-color: #d4f6e8;
  font-size: 22px;
}
.logform p{
 text-align: center;
  color: red;
  
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.add-recipe{
  width: 100%;
}

.recipe{
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.footer{
  width:100vw;
  height: 30px;
  color: white;
  background-color: #213547;
  position: fixed;
  bottom: 0;
  text-align: center;
  margin-top: 1rem;
  padding-top: 2px;
  font-size: 14px;
}

.outer-container{
  width: 70%;
  margin: 5rem auto;
}

.outer-container .profile{
  display: flex;
  gap:1rem;
  align-items: center;
}

.outer-container .title{
  margin: 1rem 0;
  text-transform: uppercase;
}

.outer-container .recipe-details{
  display: flex;
  gap: 3rem;
  align-items: justify;
  margin-top: 1rem;
}

.active{
  color:black !important;
  background-color: #97d2fbff;
}


